* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

.top-banner {
	height: 45vh;
	border: 0;
}

.top-banner>div {
	position: relative;
	left: 50px;
	top: 20px;
}

.top-banner h1 {
	color: whitesmoke;
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	margin: 0;
}

.main {
	display: flex;
}

.menu {
	padding: 10px;
}

.menu.links {
	display: flex;
	flex-direction: column;
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumb {
  overflow: hidden;
}

.breadcrumb li{
  float: left;
}

.breadcrumb a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

.breadcrumb li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:hover{
  background: #fff;
}

.breadcrumb a::after,
.breadcrumb a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrumb a::after{
  z-index: 2;
  border-left-color: #ddd;
}

.breadcrumb a::before{
  border-left-color: #ccc;
  right: -1.1em;
  z-index: 1;
}

.breadcrumb a:hover::after{
  border-left-color: #fff;
}

.breadcrumb .current,
.breadcrumb .current:hover{
  font-weight: bold;
  background: none;
}

.breadcrumb .current::after,
.breadcrumb .current::before{
  content: normal;
}

.content {
	min-width: 70%;
	padding: 15px;
}
