<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>
	  {{ .Title}} {{ if not .IsHome }} - {{ .Site.Title}} {{ end }}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="/css/prism.css" />

	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat" rel="stylesheet" />
  </head>
  <body>
