{{ $currentPage := . }}
<div class="menu">
  <div class="links">
	<ul>
	{{ range .Site.Pages }}
	{{ if (and (not .IsHome) (eq .Parent .Site.Home)) }}
	<li>
	  <div class="menu-entry {{if eq $currentPage . }} active {{ end }}">
		<a href="{{ .Permalink }}" class="menu-link">{{ .Title }}</a>
	  {{ $parentPage := . }}
	  {{ with .Pages}}
	  <span class="{{if hasPrefix $currentPage.Permalink $parentPage.Permalink }}up{{else}}down{{end}}"></span></div>
	  <ul {{if not (hasPrefix $currentPage.Permalink $parentPage.Permalink) }}hidden{{end}}>
	  {{ range . }}
	  <li class="menu-entry {{if eq $currentPage . }} active {{ end }}">
		<a href="{{ .Permalink }}" class="menu-link">{{ .Title }}</a>
	  </li>
	  {{ end }}
	  </ul>
	  {{ else}}
	  </div>
	  {{ end }}
	</li>
	{{ end }}
	{{ end }}
	</ul>
  </div>
</div>
