<div class="menu">
  <div class="links">
	{{ range .Site.Pages }}
	{{ if (and (not .IsHome) (eq .Parent .Site.Home)) }}
	<div>
	  <a href="{{ .Permalink }}">{{ .Title }}</a>
	  {{ range .Pages }}
	  <ul>
		<li> <a href="{{ .Permalink }}">{{ .Title }}</a> </li>
	  </ul>
	  {{ end }}
	</div>
	{{ end }}
	{{ end }}
  </div>
</div>
